body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: white;
    margin-top: 50px;
}
button{
    padding: 8px 16px;
    background-color: black;
    color:white;
    border: none;
    border-radius:5px;
    cursor: pointer;
}
botton:hover{
    background:skyblue;
    color:white;
}